<div class="jumbotron">
  <div class="overlay">
    <div class="container text-center">
      <h1>Company Name</h1>
      <h2>A place for the company slogan</h2>
      <div><%= link_to "SHOP NOW", products_path %></div>
    </div>
  </div>
</div>
