<footer class="footer text-center">
  <div class="container">
    <div>
        <a href="#">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="#">
          <i class="fab fa-pinterest-p fa-lg"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>
    </div>
    <small>
      Copyright ©2021 Company Name. All rights reserved | Website
      by David Lake
    </small>
  </div>
</footer>
